<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simms.biosci.simsapplication">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AddLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AddGermplasmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AddSourceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AddCrossActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.ForgotPasswordActivity"></activity>
    </application>

</manifest>